{:deps
 {io.github.mentat-collective/emmy {:git/sha "53fd9909b835e7eeb21f798ba61fd7e6b5251cfc"
                                    :exclusions [org.babashka/sci
                                                 org.mentat/clerk-utils]}
  org.mentat/clerk-utils {:mvn/version "0.6.0"
                          :exclusions [thheller/shadow-cljs]}
  }}
